body{
    background-color:rgb(243, 236, 225)
}
h1.first{
    text-align:center;
    color:rgb(230, 65, 57);
    margin-top: 1em;
    margin-bottom:15px;
}
h5{
    font-size: 16px;
    color: rgb(50, 59, 107);
    text-align: center;
    margin-top: 2rem;
    margin-bottom:5px;
}




div.links{
    display: flex;
    flex-direction: column;
    align-items: center;
}

div#newlinks{
    color:rgb(50, 64, 133);
    font-size:20px;
    text-align:center;
    list-style-position:inside;
    
    margin-top: 1em;
}

b#newAssigntext{
    /*color:rgb(219, 63, 55);*/
    color:rgb(233, 81, 21);
    
}

div#assign5link{
   text-align:center;
}

ul#previouslinks{
    color:rgb(50, 64, 133);
    font-size:20px;
    text-align:left;
    list-style-position:inside;
    
    margin-left:8%;
}



ul.Assign3link{
    font-size: 17px;
    right:5px;
    margin-top:3px;
    margin-bottom:6px;
}


a{
    font-size:16px;
}





/*div#new{
    position:absolute;
    left:24em;
    top:15em;
    color: rgb(231, 65, 57);
}*/



