body{
    background-color:rgb(243, 236, 225)
}
h1.first{
    text-align:center;
    color:rgb(230, 65, 57);
    margin-top: 1em;
    margin-bottom:15px;
}

h5{
    color: rgb(50, 59, 107);
    text-align: center;
    margin-top: 5px;
    margin-bottom:5px
}

ul.firstUL{
    color:rgb(50, 59, 107);
    margin-top:1.5em;
    margin-left:36%;
    text-align:left;
    list-style-position:inside;
}

li{
    margin-top:4px;
    margin-bottom:4px;
}

ul.secondUL{
    position:relative;
    right:5px
}
